data/*
!data/
!data/README.md

models/backups/
grid_folder/
__pycache__/
*.egg-info
*.pyc

.ruff_cache/

*.h5
*.npy
*.csv
*.pt
.vscode/

*.egg-info
cache/*

# kilocode ignore files
.ruff_cache/
__pycache__/
*.egg-info
*.pyc
utils/
*.ipynb

outputs/**/*.log
outputs/**/*.yaml
outputs/*
